.barchart .recharts-surface:not(.recharts-legend-item .recharts-surface) {
    width: 90%;
    margin-left: 2em;
}
.barchart .recharts-legend-wrapper .recharts-default-legend .recharts-legend-item .recharts-legend-item-text{
    color: #74798C !important;
    margin-left: .7em;
    font-size: .8em;
}
