.radial-title{
    position: absolute;
    z-index: 1;
    left: 71%;
    top: 10%;
    color:#20253A;
    font-weight:500;
    font-size:.8em
}
.radial-wrapper{
    position: absolute;
    left: 79%;
    z-index: 1;
    top: 35%;
    width: 4em;
}
.radial-results{
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}
.radial-text{
    color: #74798C;
    font-weight: 500;
    font-size: .8em;
    text-align: center;
    line-height: 1.6;
}

@media screen and (min-width:1500px) {
    .radial-wrapper{
        left: 82%;
    }
}